*{
  font-weight: bold;
  font-family: 'Signika Negative', sans-serif;
}

.header{
  height: 96px;
  display: flex;

  background-color: rgb(255, 255, 255);

  position: fixed;
  top: 0 ;
  left: 0;
  right: 0;
 
}


.header-left{
  display: flex;
  flex: 1;
 
  margin-left: 190px;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .header-left{
    margin-left: 140px;
  }
}
@media screen and (max-width: 1200px) {
  .header-left{
    margin-left: 60px;
  } 
}
@media screen and (max-width: 800px) {
  .header-left{
    margin-left: 20px;
  }
}
.logo{
  width: 86px;
  display: flex;
  align-items: center;
}

.logo-image{
  width: 66%;
  
}
.categories{
  flex: 1;
  font-size: 18px;
  height: 36px;
  min-width: 83px;
  border: none;
  background-color: transparent;
  opacity: 0.6;

  cursor: pointer;
  margin-right: 10px;
  transition: 0.1s;
}
.categories:hover{
  opacity: 0.4;
}


.header-center{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}
.search{
  font-weight: 500;
  
  max-width: 400px;
  font-size: 18px;
  flex: 1;
  height: 40px;
  padding: 7px;

  border: 2px;
  border-style: none none solid none;
  border-color: rgb(223, 223, 223);
  background-color: rgb(255, 255, 255);

  opacity: 0.9;
  transition: 0.1s;
  cursor: pointer;
}
.search:hover, .search:focus, .search:active{
  border-color: rgb(175, 175, 175);
}
.search-button{
  margin-left: 15px;
  border: none;
  background-color: transparent;
  margin-right: 45px;
  cursor: pointer;
  transition: 0.1s;
  
}
.search-button:hover{
  opacity: 0.7;
}

.search-image{
  width: 20px;
  opacity: 0.7;
  
}

.header-right{
  flex: 0.15;
  display: flex;
  align-items: center;
  margin-right: 190px;
  justify-content: end;

}
@media screen and (max-width: 1400px) {
  .header-right{
    margin-right: 140px;
  }
}
@media screen and (max-width: 1200px) {
  .header-right{
    margin-right: 60px;
  }
}
@media screen and (max-width: 800px) {
  .header-right{
    margin-right: 20px;
  }
}

.button-sign{
  font-size: 18px;
  font-weight: 600;
  width: 120px;
  height: 40px;
  color: rgb(255, 95, 122);

  border: 2px;
  border-radius: 7px;
  border-style: solid;
  border-color: rgb(255, 95, 122);
  background-color: transparent;

  cursor: pointer;
  transition: 0.1s;
}
.button-sign:hover{
  background-color: rgb(255, 95, 122);
  color: white;
}


.movie{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.movie-content{
  margin: 40px 190px 0px 190px;
}
@media screen and (max-width: 1400px) {
  .movie-content{
    margin: 30px 140px 0px 140px;
  }
}
@media screen and (max-width: 1200px) {
  .movie-content{
    margin: 15px 60px 0px 60px;
  }
}
@media screen and (max-width: 800px) {
  .movie-content{
    margin: 15px 20px 0px 20px;
  }
}
.movie-title{
  color: rgb(255, 255, 255);
  margin: 25px 0px 25px 0px;
  font-size: 30px;
  font-weight: 500;
  padding-left: 15px;

  border-style: none none none solid;
  border-color: rgb(255, 95, 122) ;

}
.movie-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  column-gap: 20px;
  row-gap: 20px;


}
@media screen and (max-width: 1400px)  {
  .movie-row{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .movie-row{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width:800px) {
  .movie-row{
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 11px;
  }
}
@media screen and (max-width:400px) {
  .movie-row{
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    row-gap: 11px;
  }
}
.movie-image{
  width: 100%;
  border-radius: 10px;
  
}